.mb-3 {
    width: 22em;
}

.form {
    width: 7em;
    margin: 1em;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  