.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #333;
    color: #fff;
    /* height: 11vh; */
  }
  
  .header-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .header-search {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 8px 16px;
    background-color: #fca311;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #e89e0c;
  }
  
  .nav-item.top{
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 0;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
  }
  
  .show {
    display: block;
  }
  
  .show-dropdown {
    position: relative;
  }
  
  .dropdown-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-list li {
    margin-bottom: 5px;
  }
  
  .dropdown-list li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .dropdown-list li a:hover {
    color: #fff;
  }
  