.navbar {
    background-color: #f1f1f1;
    /* padding: 10px; */
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    z-index: 999;
    width: 100%;
    padding-top: 0;
    overflow-y: auto;
  }
  
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
  }
  
  .nav-item {
    margin-bottom: 10px;
  }
  
  .nav-link:focus {
    color: #fff;
  }

  .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #555;
    color: #fff;
    cursor: pointer;
  }

  .nav-item.selected {
    background-color: #555;
    border-radius: 5px;
  }
  