.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .movie-card {
    width: calc(25% - 20px); /* Adjust the width as needed */
    margin-bottom: 20px;
  }
  
  .movie-title {
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 8px 0;
    color: #dcdcdc;;
  }
  

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-in-details {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translateY(0);
      background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
      background-color: rgba(248, 87, 87, 0);
    }
  }

  .modal-poster {
    width: 250px;
    height: auto;
    margin-right: 20px;
    z-index: 2;
  }
  
  .movie-details {
    display: flex;
    align-items: center;
    color: white;
    z-index: 2;
    animation: fade-in-details 0.2s ease-in;
  }
  
  .movie-info {
    flex-grow: 1;
  }
  
  .movie-info h2 {
    margin-bottom: 10px;
  }
  
  .movie-info p {
    margin-bottom: 10px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    /* background-color: white; */
    padding: 20px;
    max-width: 800px;
    animation: fade-in 0.2s ease-in;
  }
  
  .modal button {
    background-color: #ccc;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    z-index: 2;
  }

  .modal-close {
    background-color: #ccc;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  